
<style>
#title{
  font-size: 29px;
  color: #cce4f2;
  position: absolute;
  left: 23%;
  bottom: 42%;
  
}

.title-centering{
  font-size: 31px;
  color: #cce4f2;
  position: absolute;
  left: 37%;
  bottom: 49%;
}

#container{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("Mans_cels_Home_1(2).gif");
  background-size: cover;
}

#button{
  background-color: #cce4f2;
  color: black;
  font-size: 29px;
  position: absolute;
  left: 50%;
  bottom: 32%;
  text-decoration: none;
}

#locale{
  background-color: #cce4f2;
  color: black;
  font-size: 29px;
  position: absolute;
  left: 65%;
  bottom: 32%;
  text-decoration: none;
}


</style>
<div class="nes-container with-title is-centered" id="container">
  <div class="title-centering">
    <h1><%= t 'journey' %></h1>
  </div>

  <div id="title">
    <h2><%= t 'other_title' %><h2>
  </div>

  <div>
    <%=link_to t('begin'), level1_path, class: "nes-btn is-normal", id: "button"%>
    <% if I18n.locale == I18n.default_locale %>
      <%=link_to t('locale_button'), home_path(:locale=> 'en'), class: "nes-btn is-normal", id: "locale"%>
    <% else %>  
      <%=link_to t('locale_button'), home_path(:locale=> 'lv'), class: "nes-btn is-normal", id: "locale"%>
    <% end %>
  </div>
</div>
