<!DOCTYPE html>
<html>
  <head>
    <title>MansCels</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
    <link href="https://unpkg.com/nes.css/css/nes-core.min.css" rel="stylesheet" />
    <style>
    body {
      font-family: 'Press Start 2P';font-size: 21px;
    }
    </style>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
